# ==== ENVIRONMENTS ====
env/
venv/

# ==== FIREBASE KEYS ====
firebase/serviceAccountKey.json
firebase/*.json

# ==== PYTHON CACHE ====
__pycache__/
*.pyc
*.pyo
*.pyd

# ==== DATABASES ====
*.db
*.sqlite3

# ==== TEST FILES ====
test_image.jpg

# ==== LOGS & TEMP FILES ====
*.log
*.tmp

# ==== OS FILES ====
.DS_Store
Thumbs.db

# ==== IDE / EDITOR FILES ====
.vscode/
.idea/
